# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore .env files in both frontend and backend
/front-end/.env
/back-end/.env

# (Optional) also ignore example placeholders if you don’t want them tracked
/front-end/.env.local
/back-end/.env.local

